[user]
	email = qwelias@gmail.com
	name = Ilia Baryshnikov
[push]
	default = current
	followTags = false
[alias]
	tag-push = "!f(){ git tag $1 && git push origin tag $1; }; f"
	rebase-keep-dates = rebase --committer-date-is-author-date
	add-reset-hard = !git add . && git reset --hard
	add-stash = !git add . && git stash
	push-up = push -u
	pull-origin = !git pull origin $(git rev-parse --abbrev-ref HEAD)
	stash-staged = !git stash -- $(git diff --staged --name-only)
	log-nice = log --decorate --pretty=format:'%C(yellow)%h%C(reset) %C(cyan)%ad%C(reset) %C(green)%an%C(reset) %C(auto)%d%C(reset) %C(white)%s%C(reset)' --date=short

[branch]
	autoSetupMerge = false
	autoSetupRebase = never
[merge]
	conflictStyle = diff3
[core]
	editor = micro

[pull]
	ff = only
	rebase = true
