[user]
	email = qwelias@gmail.com
	name = Ilia Baryshnikov
[push]
	default = current
	followTags = false
[alias]
	rebase-keep-dates = rebase --committer-date-is-author-date
	add-reset-hard = !git add . && git reset --hard
	push-up = push -u
	pull-origin = !git pull origin $(git rev-parse --abbrev-ref HEAD)
	stash-staged = !git stash -- $(git diff --staged --name-only)
	stash-all = !git add . && git stash

[branch]
	autoSetupMerge = false
	autoSetupRebase = never
[merge]
	conflictStyle = diff3
[core]
	editor = micro

[pull]
	ff = only
	rebase = true
